<!DOCTYPE html>
<html lang="en">

<head>

    <head>

        <title>Missing Migrants Plots</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Migration Route vs. Estimated Missing</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Missing Migrants Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Analysis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="incidentmap.html">Incident Map</a></li>
                            <li><a href="markermap.html">Marker Map</a></li>
                            <li><a href="plots.html">Visualizations</a></li>

                        </ul>
                    </li>
                    <li><a href="data.html">Data</a></li>
                    <!-- <li><a href="data.html">Project Data</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="plot"></div>
    <p>The region with most dead and/or missing migrants was the Mediterranean. This lends to the idea that it is the
        most dangerous area of migration, accounting for over 18,000 deaths. This could be due to having to primarily
        cross the sea with overcrowded boats, with limited access to food and water. </p>
    <div id="plot2"></div>
    <p> Overall, the most reliable data about migrants came from the route of Central America to the US, as most of the
        data had a source quality of 5. However, the Eastern Mediterranean also had strong source quality because their
        highest sq was also 5. The Western Mediterranean had slightly less reliable data, as the majority of their data
        points had a source quality of 3 or 4.</p>
    <div id="plot3"></div>
    <p>The majority of our data came from the Central America to US route, accounting for over half the data points. The
        next largest was the Central Mediterranean route. It is interesting to note that the Mediterranean was the most
        deadly route, but not the most frequently used route. </p>
    <div id="plot4"></div>
    <p>The causes of death show strong correlations to the regions of migration, as the Mediterranean accounts for most
        of the incidents of drowning and presumed drowning, North Africa accounts for most starvation or death due to
        sickness/ lack of medicines. It is interesting to note that the US-Mexico Border accounts for the majority of
        unknown + unknown(skeletal remains) causes of death.</p>
    <script src="templates/data.js"></script>
    <script src="templates/plot.js"></script>
    
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>