<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Predictive Analysis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Missing Migrants Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Analysis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="incidentmap.html">Incident Map</a></li>
                            <li><a href="markermap.html">Marker Map</a></li>
                            <li><a href="plots.html">Visualizations</a></li>
                            <li><a href="predictiveanalysis.html">Predictive Analysis</a></li>

                        </ul>
                    </li>
                    <li><a href="data.html">Data</a></li>
                    <!-- <li><a href="data.html">Project Data</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6" id="left-block">
                <h1>Predictive Analysis</h1>
                <img src="static/img/total_dead.png" width="400" height="350">
                <p> We used a series of linear regressions to explore our dataset and see if we could
                    predict the number of total dead and missing based on age, gender, season, temperature, and region
                    of incident. We also used a linear and logistic regression to assess how reliable or unreliable
                    the source quality of a data point was. </p>
            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Regression Analysis</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="totaldead.html"><img src="static/img/total_dead.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="temperature.html"><img src="static/img/USMEX_Temp.png" width="200px"
                                height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="sourcequalitylinear.html"><img src="static/img/source_quality_linear.png" width="200px"
                                height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="sourcequalitylogistic.html"><img src="static/img/Log_ROC.png" width="200px"
                                height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>