<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Predictive Analysis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Missing Migrants Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Analysis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="incidentmap.html">Incident Map</a></li>
                            <li><a href="markermap.html">Marker Map</a></li>
                            <li><a href="plots.html">Visualizations</a></li>
                            <li><a href="predictiveanalysis.html">Predictive Analysis</a></li>

                        </ul>
                    </li>
                    <li><a href="data.html">Data</a></li>
                    <!-- <li><a href="data.html">Project Data</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6" id="left-block">
                <h1>Source Quality Linear Regression/h1>
                <img src="Source_quality_reg.png" width="400" height="350">
                <p>What is regression: it’s a technique used to predict the value of a response (ie the dependent
                    variable) from one or more predictors (independent variables).
                    Log: Logistic regression is used when the dependent variable is binary in nature, so the outcome
                    could only be in a 0 or 1 type outcome. The independent variables are not correlated, and are
                    continuous in nature and the dependent variable is categorical ie in binary form. In Linear
                    regression, there must be a linear relationship between the independent and dependent variables, and
                    the independent variable doesn’t have to be continuous.
                    For processing our data, we chose to focus on variables such as Source Quality, Region of Incidence,
                    and Total Dead and Missing, as it was the most quantifiable part of our dataset. We modelled both
                    the linear and logistic regression of our data, and found that the logistic regression was a better
                    model. Since our source quality ranged from 1-5, we reclassified the data into reliable/unreliable
                    source quality(3 or more, less than 3). This fits in with the binary nature of dependent variables
                    in logistic models.
                    In the linear regression, examining the residual plot, the training data is a fair bit below the
                    residual line, so the error for each point is pretty high. However, for the testing data, it is not
                    as below the residual line as the training data, so the model performs better out of sample than in
                    sample. This can be attributed to the discrepancies within our dataset, and its lack of quality. The
                    mean squared error for the linear model was 0.562, while the R squared value was 0.096 --which isn’t
                    terrible but not ideal. The logistic model however, gave much better results.</p>
            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Regression Analysis</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="totaldead.html"><img src="total_dead.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="temperature.html"><img src="USMEX_Temp.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="sourcequalitylinear.html"><img src="source_quality_linear.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="sourcequalitylogistic.html"><img src="Log_ROC.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>