<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Predictive Analysis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Missing Migrants Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Analysis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="incidentmap.html">Incident Map</a></li>
                            <li><a href="markermap.html">Marker Map</a></li>
                            <li><a href="plots.html">Visualizations</a></li>
                            <li><a href="predictiveanalysis.html">Predictive Analysis</a></li>

                        </ul>
                    </li>
                    <li><a href="data.html">Data</a></li>
                    <!-- <li><a href="data.html">Project Data</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6" id="left-block">
                <h1>Source Quality Logistic Regression</h1>
                    <img src="static/img/Log_ROC.png" width="400" height="350">
                    <p>From the data manipulation above and the data visulization we did before, we decide to work on
                        the
                        problem that how other variables contribuate to the “Source Quality”. From EDA, there are some
                        points have to be noticed, most variables are not quantifiable, so we have to convert them to
                        dummy
                        variables to build our model.
                        For the “Source Quality”, I decide to distinguish them to 0(<=3) and 1(>3) and 0 for unreliable
                            and
                            1 for reliable. For the “Region of Incident”, we create 15 dummy variables instead of one
                            column. For the “URL”, since there are more than 1000 unique links which are hard to deal
                            with,
                            we convert it to 0 and 1, 0 means website is unaviliable and 1 means website is aviliable.
                            Before model building, I want to check whether our data is oversampled. With our training
                            data
                            Created, I up-sampled the data with SMOTE algorithm. Then we can have a perfect balanced
                            data.
                            After that, I use Recursive Feature Elimination (RFE) to select features. And the result
                            showed
                            our variables are good to use.
                            At last, I build two model: the first is Logistic Regression and second is Neural Network.
                            Based
                            on my experience, I guess around so many statistics models and algorithm models, these two
                            may
                            perform better. The logistic regression model performed very well, it has an 83% accuracy.
                            And I
                            tried different layers, units and tuned different parameters in the NN model, the best
                            accuray
                            is 61%, otherwise it would be overfitting or inaccurate. And compared to other models that
                            Hemani built, the logistic regression model still is the best.
                            From the result, we can tell that most of our variables contributes a lot to the reliablity
                            under the 0.05 significance level. P-value of “Central Asia” and “North American” is large,
                            this
                            may means reliablity of incidents happened here may hard to be tell. </p>
            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Regression Analysis</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="totaldead.html"><img src="static/img/total_dead.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="temperature.html"><img src="static/img/USMEX_Temp.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="sourcequalitylinear.html"><img src= "static/img/source_quality_linear.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="sourcequalitylogistic.html"><img src="static/img/Log_ROC.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>